@import "mixins";

.adm-edu {
  @include center-aligned-wrapper;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.administration {
  max-width: 34rem;
  margin: 0 auto;
}

.education {
  max-width: 35rem;
  margin: 0 auto;
}
