@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin underline {
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    border-top: 2px solid #fff;
    width: 80%;
  }
}

@mixin animated-underline {
  @include underline;

  &::after {
    width: 0;
    transition: width 0.2s ease 0s, left 0.2s ease 0s;
  }

  &:hover {
    &::after {
      width: 80%;
    }
  }
}
