<ul class="navigation-wrapper">
  <li *ngFor="let nav of navList" class="nav-item">
    <a
      *ngIf="!nav.children"
      mat-list-item
      class="reset-link"
      [routerLink]="nav.url"
      routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }"
      (click)="toggleNavbar.emit()"
    >
      {{ nav.displayName }}
    </a>

    <div *ngIf="nav.children">
      <div
        mat-list-item
        [matMenuTriggerFor]="menu"
        class="dropdown-title cursor-pointer"
      >
        {{ nav.displayName }}
        <span class="material-icons dropdown-icon"> arrow_drop_down </span>
      </div>
      <mat-menu #menu="matMenu">
        <a
          mat-menu-item
          *ngFor="let childNav of nav.children"
          (click)="toggleNavbar.emit()"
          [routerLink]="nav.url + '/' + childNav.url"
          routerLinkActive="active-link"
        >
          {{ childNav.displayName }}
        </a>
      </mat-menu>
    </div>
  </li>
</ul>
