@import "breakpoints";
@import "mixins";

.navigation-wrapper {
  @include reset-list;

  * {
    font-size: 1rem;
  }

  .nav-item {
    .dropdown-title {
      padding: 16px;
    }

    .dropdown-icon {
      position: relative;
      left: -5px;
      top: 3px;
    }
  }

  @include md {
    display: flex;

    .nav-item {
      display: flex;
      align-items: center;
      position: relative;

      a {
        margin-right: 1rem;

        @include animated-underline;

        &.active-link {
          @include underline;
        }
      }
    }
  }
}
