<div class="history">
  <h1>History</h1>

  <p>
    During Kolathiri rule, Cherukunnu was under their reign. Later, Tipu Sultan
    adjoined this area as part of Kingdom of Mysore. The British Raj put this
    place under Chirakkal Taluk of Malabar District in Madras Presidency.
    Presently this is a village of Kannur District of Kerala State.
  </p>

  <h1>Culture and Geography</h1>
  <p>
    Greater part of this village is surrounded by Backwater. The thuruths (small
    islands) of "Ayiram Thengau" and "Mungam" are places of interest known for
    scenic beauty. This village shares borders with Kannapuram to the south,
    Madayi to the north, Mattool to the west, Ezhome and Pattuvam to the east.
  </p>
  <p>Cherukunnu (ചെറുകുന്ന്) is famous for:</p>
  <ul>
    <li>Annapoorneswari Temple</li>
    <li>Thavam Roman Catholic church</li>
    <li>Oliyankara Juma Masjid</li>
    <li>Mission hospital</li>
  </ul>

  <h2>Annapoorneshwari Temple</h2>
  <p>
    At this Temple, Lord Krishna is collocated with Sree Annapoorneswari. It is
    believed that Sree Annapoorneswari has visited this shrine which was under
    the sea. There is a mythological belief that this shrine was elevated by
    Lord Parashurama. The temple is near Cherukunnu town, around 14 km from
    Kannur, 16 km from Taliparamba and 18 km from Payyannur. A large chira
    (swimming pool) also can be spotted near this temple.
  </p>
  <p>
    In April every year, various religious and ritual and entertainment
    activities, including spectacle fireworks, are shown at this Temple to
    during the celebration of Vishu Villakulsavam.
  </p>
  <p>Kannapuram is the nearest rail head.</p>

  <h2>Thavam Church</h2>
  <p>
    The Thavam Church is a famous Roman Catholic Church of North Malabar. This
    church is very old which proclamates the presence of Christians in North
    Malabar since ancient days. This is a heritage place for North Malabar Roman
    Catholic society.
  </p>
  <p>
    This church is under the Diocese of Kannur. This church is located at
    Thavam; between Cherukunnu and Pazhayangadi, around 17 km from Kannur, 19 km
    from Taliparamba and 15 km from Payyannur. Pazhayangadi is the nearest rail
    head. Other Roman Catholic churches of Cherukunnu are at Kattakulam,
    Paadiyil Ferry and Kavinisseri (Christhukunnu).
  </p>

  <h2>Oliyankara Juma Masjid</h2>

  <p>
    Oliyankara Juma Masjid (Hazrath Valiyullahi (RA)), a Famous Dargah Shareef
    of Sahaba-e-Ikhram (Sufi Saints/Auliyas) is an important Mosque of North
    Malabar. It is believed that the priests in ancient days gave importance to
    the Hindu Gods at this Mosque.
  </p>
  <p>
    The Mosque is at Pallichal near Cherukunnu town, around 14 km from Kannur,
    16 km from Taliparamba and 18 km from Payyannur. This is a location of a
    famous sufi grave, visited by people of all religions. Kannapuram is the
    nearest rail head
  </p>

  <h2>Mission Hospital</h2>

  <p>
    Mission Hospital alias St. Martin de Porres Hospital Cherukunnu is a very
    famous hospital of this region. Presently this hospital is equipped with all
    modern ultra medical facilities and is also a super speciality hospital
    having 24 hours Casualty and Trauma Care Centre. The Leprosy Department of
    this hospital provides free of cost treatment to Leprosy patients. This
    hospital is attached with a Nursing College viz. "Canossian College of
    Nursing" run by "Canossian Daughters of Charity" Convent Cherukunnu.
  </p>
</div>
