<div class="home-about">
  <h1>About</h1>

  <div class="about-paragraph">
    <p>
      Cherukunnu is a census town in Kannur district in the Indian state of
      Kerala.
    </p>
    <p>
      The name Cherukunnu means Little Hill ("cheru-ചെറു"=Little and
      "kunnu-കുന്ന്"=hill). There are about five very small hills surrounding
      this place. The name Cherukunnu is believed to have been derived owing to
      the presence of these Hills. However, as per a local Hindu mythological
      belief, the "Choru-Kunnu" (heap of cooked rice) which is made just before
      the daily "Annadhaanam" (free feast) at Annapoorneswari Temple gave the
      place this name.
    </p>
  </div>
</div>
